<launch>
  <!-- Initialise parameter server -->
  <rosparam command="load"
            file="$(find cvra_operations)/common_param.yaml"
            ns="caprica"/>
  <rosparam command="load"
            file="$(find cvra_operations)/caprica_param.yaml"
            ns="caprica"/>

  <!-- Initiate communication with master board -->
  <include file="$(find master_bridge)/launch/master_bridge.launch">
    <arg name="robot_ns" value="caprica"/>
  </include>

  <!-- Setup base motion planner server -->
  <include file="$(find molly_base_motion_planner)/launch/molly_base_motion_planner_server.launch">
    <arg name="robot_ns" value="caprica"/>
  </include>

  <!-- Start publishing Lidar Sick Tim561 measurements -->
  <include file="$(find sick_tim)/launch/sick_tim561_2050101.launch">
    <arg name="robot_ns" value="caprica"/>
  </include>

  <!-- Stream Logitech C310 webcam raw video footage -->
  <include file="$(find webcam_stream)/launch/raw_stream.launch">
    <arg name="robot_ns" value="caprica"/>
  </include>
</launch>
