<launch>
  <!-- Initialise parameter server -->
  <rosparam command="load"
            file="$(find cvra_operations)/params/common.yaml"
            ns="debra"/>
  <rosparam command="load"
            file="$(find cvra_operations)/params/debra.yaml"
            ns="debra"/>

  <!-- Initiate communication with master board -->
  <include file="$(find master_bridge)/launch/master_bridge.launch">
    <arg name="robot_ns" value="debra"/>
  </include>

  <!-- Start publishing Lidar Sick Tim561 measurements -->
  <include file="$(find sick_tim)/launch/sick_tim561_2050101.launch">
    <arg name="robot_ns" value="debra"/>
  </include>
</launch>
