<?xml version="1.0"?>
<model>
  <name>Debra</name>
  <version>1.0</version>
  <sdf>urdf/debra.urdf</sdf>
  <author>
    <name>Salah-Eddine Missri</name>
    <email>missrisalaheddine@gmail.com</email>
  </author>
  <description>
    CVRA's main robot for Eurobot competition.
    The two-armed robot: Debra.
  </description>
</model>
