<launch>
  <arg name="rviz_config" default="$(find debra_description)/launch/urdf_view.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find debra_description)/urdf/debra.xacro"/>

  <node name="joint_publisher" pkg="debra_description" type="joint_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(arg rviz_config)"
  />
</launch>
