<launch>
  <arg name="rviz_config" default="$(find debra_description)/launch/urdf_view.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find debra_description)/urdf/debra.xacro"/>

  <include file="$(find debra_description)/launch/eurobot2015.launch"/>

  <node name="joint_publisher" pkg="debra_description" type="joint_publisher"/>
  <node name="odometry_publisher" pkg="debra_description" type="odometry_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(arg rviz_config)"
  />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -x 0.5 -y -1 -z 0.25 -model debra"
        respawn="false"
        output="screen"
  />
</launch>
